* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, a:link, a:focus, a:visited {
  text-decoration: none;
}

.app {
  height: 100vh;
}

:global(.ant-layout-sider-collapsed) {
  .logo {
    padding-left: 16px;
  }
  :global(.anticon) {
    margin-left: 8px;
  }
}

.logo {
  height: 64px;
  padding: 0 20px;
  color: #eee;
  background: #333;
  line-height: 64px;
  font-size: 16px;
  transition: all .3s;
}

.menu {
  :global(.ant-menu-item) {
    font-size: 13px;
  }
}

.content {
  > * {
    margin: 16px;
    padding: 16px;
    background: white;
    border-radius: 5px;
  }
}

.footer {
  text-align: center;
}